- url_options = { action: :index }
- html_options = { remote: true, method: :get }

%table
  %thead
    %tr
      %th= sort_link(@search, :name, url_options, html_options)
      %th= sort_link(@search, :email, url_options, html_options)
      %th{:colspan => "3"}
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

= paginate users, { remote: true, params: { action: :index} }

